{% extends 'base.html'%}

{% block content %}




<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 30px;">
            <div class="navbar-nav" style="gap: 30px;">
                {% for data in generous %}
                <a class="nav-item nav-link active text-light font-bold"
                    href="{% url 'generous' data.id %}">{{data.cat_title|capfirst}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://bc-img.s3.ap-south-1.amazonaws.com/web_banners/2023040739523.webp" class="d-block w-100"
                alt="">
        </div>
        <div class="carousel-item">
            <img src="https://bc-img.s3.ap-south-1.amazonaws.com/web_banners/2023032790785.webp" class="d-block w-100"
                alt="">
        </div>
        <div class="carousel-item">
            <img src="https://bc-img.s3.ap-south-1.amazonaws.com/web_banners/2023060555036.png" class="d-block w-100"
                alt="">
        </div>
        <div class="carousel-item">
            <img src="https://bc-img.s3.ap-south-1.amazonaws.com/web_banners/202306201032.jpeg" class="d-block w-100"
                alt="">
        </div>
    </div>
    <button class="carousel-control-prev  " type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="visually-hidden  font-bold" style="font-size: 150px;">Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden font-bold">Next</span>
    </button>
</div>
<div class="container mt-2">
    <h2 class="h2 text-black mt-2"><u>Book Sets</u></h2>
    <div class="row">
        {% for data in create %}
        <div class="col-3 shadow mt-1">
            <div class="card border-5">
                <img src="{{data.image.url}}" class="object-fit-cover" style="height: 300px;" alt="">
            </div>
            <div class="card-body">
                <h4 class="text-black font-bold mt-1 text-center">{{data.title|capfirst}}</h4>
                <p class="text-black font-bold mt-1">BY-{{data.author|capfirst}}</p>
                <p class="text-black font-bold mt-1">{{data.price}} <del
                        class="text-danger font-bold">{{data.discount_price}}</del></p>
                <a href="{% url 'singlePost' data.id %}" class="btn btn-warning px-4 py-2" type="submit">Buy Now</a>
                <a href="{% url 'singlePost' data.id %}" class="btn btn-primary px-4 py-2" type="submit">Pay with
                    EMI</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}